/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
	box-sizing: border-box;
}
html, body, main {
    height: 100%;
}
body {
	@include vert-gradient($yellow, lighten($yellow, 10%));
	overflow: hidden;
     -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
	color: $brown;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7ebd7+0,f4e0be+25,f4e0be+75,eedcc0+100 */
background: #f7ebd7; /* Old browsers */
background: -moz-linear-gradient(top,  #f7ebd7 0%, #f4e0be 25%, #f4e0be 75%, #eedcc0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7ebd7 0%,#f4e0be 25%,#f4e0be 75%,#eedcc0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7ebd7 0%,#f4e0be 25%,#f4e0be 75%,#eedcc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ebd7', endColorstr='#eedcc0',GradientType=0 ); /* IE6-9 */

}
main {
	background: url('/images/bg_stains.png') no-repeat left bottom fixed;
	background-size: cover;
}


/* GLOBAL ANCHOR LINKS
// -----------------------------------------------------*/
a {
	@include transition(.25s);
	border-bottom: 1px dotted $grayDarkest; 
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkHoverColor;
		text-decoration: none;
	}
}

hr {
	border-top-color: $grayLight;
	margin: 10px 0;
}

/* FORM - BOOTSTRAP OVERRIDES
// -----------------------------------------------------*/
/* Bootstrap - input group mods */
.input-group {
	.input-group-addon {
		background: $white;
		border-right: 0;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
}


/* SEARCH TOGGLE
// -----------------------------------------------------*/
.toggle-search { // Search Toggle - show / hide search field
	.input-group-addon {
		@include no-box-shadow();
		background: none;
		border: none;
	}
	> .form-control {
		display: none;
	}
}
@media (min-width: 100px) {
	.form-inline .toggle-search > .form-control {
		width: 0;
	}
}


/* COLUMNS - NOT FLEXBOX
// -----------------------------------------------------*/
.colonnade {
	overflow: hidden;
	width: 100%;
	> .lt-column, > .rt-column, > .mid-column {
		float: left;
	}
	&.dual {
		> .lt-column, > .rt-column {
			width: 50%;
		}
	}
	&.triple {
		> .lt-column, > .mid-column, > .rt-column {
			width: 33.3%;
		}
	}
}


/* COLUMNS - FLEXBOX
// -----------------------------------------------------*/
.flex-colonnade { // Flex Box - Generic Row Flexbox
	@include flexbox();
	@include flexDirection(row);
	@include flexAlign(stretch);
	.flex-column {
		@include flexbox();
		@include flexDirection(column);
	}
	.flex-row {
		@include flexDirection(row);
	}
	.flex {
		@include flex(1);
	}
	&.hide-flex {
		display: none;
	}
}
