/* BEGIN: common.scss (global app styles)
// -----------------------------------------------------*/
* {
	box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
	@include vert-gradient($yellow, lighten($yellow, 10%));
	overflow: hidden;
     -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
	color: $brown;
}


/* GLOBAL ANCHOR LINKS
// -----------------------------------------------------*/
a {
	@include transition(.25s);
	border-bottom: 1px dotted $grayDarkest; 
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkHoverColor;
		text-decoration: none;
	}
}

hr {
	border-top-color: $grayLight;
	margin: 10px 0;
}

/* FORM - BOOTSTRAP OVERRIDES
// -----------------------------------------------------*/
/* Bootstrap - input group mods */
.input-group {
	.input-group-addon {
		background: $white;
		border-right: 0;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
}


/* SEARCH TOGGLE
// -----------------------------------------------------*/
.toggle-search { // Search Toggle - show / hide search field
	.input-group-addon {
		@include no-box-shadow();
		background: none;
		border: none;
	}
	> .form-control {
		display: none;
	}
}
@media (min-width: 100px) {
	.form-inline .toggle-search > .form-control {
		width: 0;
	}
}


/* COLUMNS - NOT FLEXBOX
// -----------------------------------------------------*/
.colonnade {
	overflow: hidden;
	width: 100%;
	> .lt-column, > .rt-column, > .mid-column {
		float: left;
	}
	&.dual {
		> .lt-column, > .rt-column {
			width: 50%;
		}
	}
	&.triple {
		> .lt-column, > .mid-column, > .rt-column {
			width: 33.3%;
		}
	}
}


/* COLUMNS - FLEXBOX
// -----------------------------------------------------*/
.flex-colonnade { // Flex Box - Generic Row Flexbox
	@include flexbox();
	@include flexDirection(row);
	@include flexAlign(stretch);
	.flex-column {
		@include flexbox();
		@include flexDirection(column);
	}
	.flex-row {
		@include flexDirection(row);
	}
	.flex {
		@include flex(1);
	}
	&.hide-flex {
		display: none;
	}
}
