/* BEGIN: layout.scss
// -----------------------------------------------------*/

.hmpg {
	h1, h2, p {
		margin: 0;
		padding: 0;
		text-shadow: 0 1px 0 #f7ebd7;
	}
	h1 {
		font-family: $fontGreatVibes;
		font-size: 350%;
		line-height: 1.15;
	}
	h2 {
		font-family: $fontEaglefeather;
		font-size: 225%;
		font-weight: 300;
		color: $burgundy;
		margin-top: $pageMargin;
	}
	.mid-anchor {
		width: 50%;
		margin: 30% auto;
		margin-bottom: 0;
		text-align: center;
		> p {
			font-family: $fontIndieFlower;
			font-weight: 600;
			color: $brownLight;
			position: absolute;
			left: 0;
			bottom: $pageMargin;
			width: 100%;
		}
		.navbar {
			text-align: center;
			width: 50%;
			margin: 0 auto;
			min-height: auto;
			.nav {
				width: 100%;
				li {
					width: 33%;
					a {
						padding: 5px;
					}
				}
			}
		}
	}
}