/* BEGIN: layout.scss
// -----------------------------------------------------*/

.hmpg {
	h1, h2, p {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-family: $fontGreatVibes;
		// font-family: $fontStrangelove;
		font-size: 350%;
		line-height: 1.15;
	}
	h2 {
		font-family: $fontEaglefeather;
		font-size: 275%;
		color: $orange;
	}
	.mid-anchor {
		width: 50%;
		margin: 30% auto;
		margin-bottom: 0;
		text-align: center;
		> p {
			font-family: $fontNoteworthy;
			font-size: 125%;
			font-weight: 600;
			color: $burgundy;
			position: absolute;
			left: 0;
			bottom: $pageMargin;
			width: 100%;
		}
		.navbar {
			text-align: center;
			width: 50%;
			margin: $pageMargin auto;
			min-height: auto;
			.nav {
				width: 100%;
				li {
					width: 33%;
					a {
						padding: 5px;
					}
				}
			}
		}
	}
}