/* BEGIN: nav.scss
// -----------------------------------------------------*/

.navbar {
	font-family: $fontAmericanTypewriter;
	li {
		a {
			border: none;
			text-shadow: 0 1px 1px #f7ebd7;
			&:hover {
				background: none;
				text-decoration: underline;
			}
		}
		&.active {
			a {
				color: $burgundy;
				text-decoration: underline;
				cursor: default;
			}
		}
	}
}