/* BEGIN: responsive.scss
// -----------------------------------------------------*/

/*  RESPONSIVE BEHAVIOR
// -----------------------------------------------------*/
// In between Large and Medium 
@media(max-width: 1440px) and (min-width: $screen-md-min) {
	
}

// Large Desktop - > 1200px
@media(min-width: $screen-lg-min) {
	
}

// Medium Desktop - > 992px
@media(min-width: $screen-md-min) {
	
}

// Tablet Portrait - > 768px
@media(max-width: $screen-sm-min) {

}

// Phone Portrait - > 480px
@media(max-width: $screen-xs-min) {
	.navbar {
		.navbar-brand {
			text-align: center;
			width: 100%;
			> span {
				display: block;
				line-height: 60px;
			}
			img {
				display: block;
				margin: 0 auto;
				margin-bottom: 30px;
			}
		}
		.navbar-nav {
			margin: 0;
			li {
				float: left;
				width: 33%;
				text-align: center;
			}
		}
	}
}

