<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="<%= classname %>">
        
        <main class="container">
        <div class="mid-anchor">
            <h1><%= companytitle %></h1>
            <h2><%= companydescription %></h2>
            <p><%= slogan %></p>
            <p>Change pushed to github first</p>
        </div>
        </main>

        <% include partials/nav.ejs %>
        <% include partials/javascripts.ejs %>
    </body>
</html>