<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="<%= classname %>">
        <main>
            <article class="container">
                <div class="mid-anchor">
                    <h1><%= companytitle %></h1>
                    <h2><%= companydescription %></h2>
                    <p><%= slogan %></p>
                    <% include partials/nav.ejs %>
                </div>
            </article>
            <% include partials/javascripts.ejs %>
        </main>
    </body>
</html>