/* BEGIN: webfont.scss
// -----------------------------------------------------*/
@font-face {
  font-family: AmericanTypewriter;
  src: url("AmericanTypewriter.ttc"); }

@font-face {
  font-family: GreatVibes;
  src: url("greatvibes.ttf"); }

@font-face {
  font-family: StrangeLove;
  src: url("strangelove.ttf"); }

@font-face {
  font-family: Eaglefeather;
  src: url("Eaglefeather.ttf"); }

@font-face {
  font-family: Noteworthy;
  src: url("Noteworthy.ttc"); }

@font-face {
  font-family: Mohave;
  src: url("mohave.otf"); }

@font-face {
  font-family: Yuppy;
  src: url("yuppy.otf"); }
